@media screen and (max-width: 865px) {

  /* less than 250px doesnt make much sense */
  body { min-width: 250px !important; }

  .global-nav .container {
    min-width: auto !important;
  }

  /* remove margin between header and content */
  .module {
    margin-bottom: 0 !important;
  }

  /* remove sidebar */
  .dashboard { display: none !important; }

  /* make main twitter feed 100% width now that there's no sidebar */
  .content-main { float: none !important; width: 100% !important; }

  /* fit the bird */
  .bird-topbar-etched, .pushing-state #pushStateSpinner {
    left: 58% !important;
  }

  /* the tooltips go offscreen and I can't figure out how to prevent it...  so
   * I'll just hide 'em */
  .tipsy {
    display: none !important;
  }

  /* main components and overlays 100% width */
  .wrapper, .global-nav .container, .autocomplete-container, .header-module
  .search-header, .tweet-row, div.tweet-media > *, .inline-media-image img,
  .original-tweet div.tweet-media iframe, .twttr-goto-user-input,
  .search-title, .search-assist-related-queries, .cards-base img,
  .permalink-tweet div.tweet-media img, div.tweet-media .media img,
  #tweet_dialog, .twttr-dialog-container, .profile-card.profile-header,
  .profile-header-inner-overlay {
    width: 100% !important;
    height: auto !important;
    padding: 0 !important;
  }

  /* fix padding for top of page (padding under topbar) */
  #page-container {
    padding-top: 39px !important;
  }

  /* fix header background */
  .profile-card.profile-header .profile-header-inner {
    background-size: cover;
    background-position: center;
  }
  /* fix header overlay */
  .profile-header-inner-overlay {
    bottom: 0 !important;
    top: 60px !important;
    width: 100% !important;
    height: 200px !important;
  }

  /* media source icons need to be brought back to 16px */
  .source img {
    width: 16px !important;
  }

  /* media container sets min-height for some reason. remove it. */
  .js-tweet-media-container {
    min-height: 0 !important;
  }

  /* rounded corners are so 90's */
  .conent-main, .content-header .header-inner, .stream-items > *, .module,
  .module .flex-module, .stream-end-inner, .stream-loading, .permalink-inner,
  .modal-large .modal-content, .twttr-dialog-footer, #tweet_dialog,
  .twttr-dialog-container, .modal-content, .permalink {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
  }

  /* get rid of this button. just hit l instead */
  .close-all-tweets { display: none !important; }

  /* make the ever-expanding search input stay fixed width, and disable
     transitions/animations */
  .global-nav .search-input, .global-nav .search-input:focus, .global-nav
  .search-input.focus, .global-nav .highlight .search-input,
  .global-nav .dwrli .search-input {
    width: 75px !important;
    -webkit-transition: none !important;
  }

  /* form that wraps search input needs default width */
  .global-nav .form-search {
    width: auto !important;
  }

  /* profile actions don't fit, put 'em below the profile image */
  .profile-card-actions { float: left !important; }

  /* textareas all have fixed widths. let's "fix" that. */
  #tweet_dialog textarea, .twitter-anywhere-tweet-box-editor {
    width: 95% !important;
  }

  /* remove border radius from modal/popups */
  .twttr-dialog-container, .modal-content {
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
  }

  /* fix large modal windows */
  .modal-large {
    width: 100% !important;
  }

  /* fix geo status */
  .tweet-box-extras {
    white-space: nowrap;
  }
  .geo-picker .geo-status {
    width: 100% !important;
  }

  /* fix thumbnail container */
  .tweet-form .thumbnail-container {
    width: 99% !important;
  }

  /* tame the inline tweetbox */
  .inline-reply-tweetbox.swift .tweet-box,
  .inline-reply-tweetbox .thumbnail-container {
    width: 100% !important;
    box-sizing: border-box !important;
    height: auto !important;
  }
}

@media screen and (max-width:625px) {
  /* squeeze in the nav, removing the text */
  .nav > li > a {
    padding-left: 10px !important;
    width: 20px !important;
    white-space: nowrap !important;
    overflow:hidden !important;
  }

  /* pad a little to help hide the text */
  .nav > li > a .new-wrapper { padding-right: 20px !important; }

  /* align the bird/loading symbol in the center */
  .bird-topbar-etched, .pushing-state #pushStateSpinner {
    left: 43% !important;
  }
}

@media screen and (max-width: 575px) {

  /* fix alignment of new status indicator */
  .global-nav .nav-new { left: 36% !important; }

  /* profile modal fixes */
  .profile-card .fullname {
    font-size: 1.5em !important;
  }
  .profile-card-inner {
    width: 70% !important;
  }
  .profile-card-actions {
    margin-top: 1em !important;
    width: 100% !important;
  }

  /* fix permalink styles */
  .permalink-tweet, .permalink .inline-reply-tweetbox {
    padding: 1.5em !important;
  }
  .permalink-tweet .tweet-actions {
    float: none !important;
  }
  .permalink-tweet .tweet-actions a b {
    display: inline !important;
  }
  .permalink-tweet .permalink-header .avatar {
    top: 1.5em !important;
    left: 1.5em !important;
  }
  .permalink-replies .tweet .avatar {
    left: 1.5em !important;
  }
  .permalink-replies .tweet {
    padding-left: 6em !important;
    padding-right: 1.5em !important;
  }
}

@media screen and (max-width: 520px) {
  /* newer modal windows have width of 520px. */
  .modal {
    width: 100% !important;
  }
  .tweet-form .tweet-box {
    width: 95% !important;
    height: auto !important;
  }
}

@media screen and (max-width: 450px) {

  /* avatar row doesn't wrap nicely, so just hide it */
  .avatar-row { display: none !important; }

  /* actions (when wrapped) have a gray artifact bc of background. hide it. */
  .tweet .actions {
    background: transparent !important;
  }

  /* keep actions' text and icons together */
  .tweet .actions li a {
    white-space: nowrap;
  }
}

@media screen and (max-width: 440px) {
  /* hide the bird */
  .bird-topbar-etched, .pushing-state #pushStateSpinner {
    display: none !important;
  }

  /* help make profile content fit */
  .profile-card.profile-header .profile-picture {
    margin-top: 10px !important;
  }
  .profile-header .profile-card-inner {
    width: 95% !important;
  }
}

@media screen and (max-width: 408px) {

  /* reduce the font size for this really narrow width */
  body { font-size: 0.8em !important; }

  /* only show search and compose tweet button. keyboard shortcuts FTW */
  .topbar .nav, .larry-topbar, .topbar i.nav-search, .topbar-divider,
  .form-search .dropdown-menu {
    display: none !important;
  }
  .topbar .pull-right {
    float: left !important;
    width: 100% !important;
  }
  .topbar .form-search {
    position: static !important;
  }
  .topbar .search-input, .topbar .search-input.focus {
    width: 55% !important;
    left: 7px !important;
    top: 7px !important;
  }

  /* give more vertical space for dialogs */
  .twttr-dialog-container {
    margin: 25px auto !important;
  }

  /* make tweet button on tweet dialog fit */
  .tweet-button-sub-container {
    float: right;
  }

  /* make keyboard shortcuts overlay more readable */
  .keyboard-shortcuts .modal-table {
    margin-top: 10px !important;
    margin-left: 0 !important;
    float: none !important;
  }

  /* make dialog/modals fit */
  .twttr-dialog-container, #retweet-dialog, #tweet_dialog, #profile_popup .modal {
    width: 100% !important;
  }

  /* make dialogs not clip text when narrow */
  .dm-dialog .twttr-dialog-inside {
    height: auto !important;
  }

  /* profile popup has a absolute left. remove it. */
  #profile_popup .modal {
    left: 0 !important;
  }

  /* get rid of this button. just hit l instead */
  .close-all-tweets { display: none !important; }

  /* make the ever-expanding search input stay fixed width, and disable
     transitions/animations */
  .global-nav .search-input, .global-nav .search-input:focus, .global-nav
  .search-input.focus, .global-nav .highlight .search-input,
  .global-nav .dwrli .search-input {
    width: 75px !important;
    -webkit-transition: none !important;
  }

  /* form that wraps search input needs default width */
  .global-nav .form-search {
    width: auto !important;
  }

  /* profile actions don't fit, put 'em below the profile image */
  .profile-card-actions { float: left !important; }

  /* textareas all have fixed widths. let's "fix" that. */
  #tweet_dialog textarea, .twitter-anywhere-tweet-box-editor {
    width: 95% !important;
  }

  /* direct message input is fixed width. fix it. */
  .dm-to-input {
    width: 85% !important;
  }
}

@media screen and (max-width: 575px) {

  /* squeeze in the nav, removing the text */
  .nav > li > a {
    padding-left: 10px !important;
    width: 20px !important;
    white-space: nowrap !important;
    overflow:hidden !important;
  }

  /* pad a little to help hide the text */
  .nav > li > a .new-wrapper { padding-right: 20px !important; }

  /* fix alignment of new status indicator */
  .global-nav .nav-new { left: 36% !important; }
}

@media screen and (max-width: 450px) {

  /* avatar row doesn't wrap nicely, so just hide it */
  .avatar-row { display: none !important; }

  /* hide tweet action text - use icons */
  .tweet-actions a b {
    display: none !important;
  }
  .tweet-actions {
    float: right !important;
  }
  
}

@media screen and (max-width: 408px) {

  /* reduce the font size for this really narrow width */
  body { font-size: 0.8em !important; }

  /* only show search. keyboard shortcuts FTW */
  .topbar .nav, .larry-topbar, .topbar i.nav-search, .topbar-divider,
  .form-search .dropdown-menu, .topbar-tweet-btn {
    display: none !important;
  }
  .topbar .pull-right {
    float: left !important;
    width: 100% !important;
  }
  .topbar .form-search {
    position: static !important;
  }
  .topbar .search-input, .topbar .search-input.focus {
    width: auto !important;
    top: 7px !important;
    margin-right: 7px !important;
  }
  .global-nav .search-icon {
    top: 7px !important;
    right: 10px !important;
  }

  /* give more vertical space for dialogs */
  .twttr-dialog-container {
    margin: 25px auto !important;
  }

  /* make keyboard shortcuts overlay more readable */
  .keyboard-shortcuts .modal-table {
    margin-top: 10px !important;
    margin-left: 0 !important;
    float: none !important;
  }

  /* make dialog/modals fit */
  .twttr-dialog-container,#retweet-dialog, #tweet_dialog, #profile_popup .modal {
    width: 100% !important;
  }

  /* profile popup has a absolute left. remove it. */
  #profile_popup .modal {
    left: 0 !important;
  }

  .twttr-dialog-container, .modal-content {
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
  }
}

@media screen and (max-width: 308px) {

  /* hide actions in tweet footer ... */
  .tweet .stream-item-footer { display: none; }

  /* hide dialog close button. use <esc> instead */
  .twttr-dialog .twttr-dialog-close {
    display: none !important;
  }

  /* ... but show them when expanded */
  .opened-tweet .stream-item-footer { display: block; }

  /* reduce the font size for this really narrow width */
  body { font-size: 0.75em !important; }

  /* don't show avatar in stream (but show it on profiles) */
  .stream .avatar, .tweet .avatar, .dropdown-menu .avatar {
    display: none !important;
  }

  /* remove margin since we don't show avatars */
  .content { margin-left: 0 !important; }

  /* shrink margin on replies too, because avatars are removed there too */
  .inline-reply-tweetbox, .replies .tweet, .permalink-replies .tweet {
    padding: 9px !important;
  }
}
