@media screen and (max-width: 865px) {

  /* less than 295px doesnt make much sense */
  body, .global-nav .container { min-width: 295px !important; }

  /* remove margin between header and content */
  .module {
    margin-bottom: 0 !important;
  }

  /* remove sidebar */
  .dashboard { display: none !important; }

  /* make main twitter feed 100% width now that there's no sidebar */
  .content-main { float: none !important; width: 100% !important; }

  /* fix padding for top of page (padding under topbar) */
  #page-container {
    padding-top: 47px !important;
  }

  /* pad a little to help hide the text */
  .topbar > .nav > li > a .new-wrapper { padding-right: 20px !important; }

  /* fix alignment of new status indicator */
  .global-nav .nav-new { left: 50% !important; }

  /* fit the bird and loading indicator */
  .bird-topbar-etched, .pushstate-spinner {
    margin-left: 0 !important;
    position: absolute !important;
    left: 38% !important;
    top: 3px !important;
  }
  .pushstate-spinner {
    margin-top: 5px !important;
  }

  /* the tooltips go offscreen and I can't figure out how to prevent it...  so
   * I'll just hide 'em */
  .tipsy {
    display: none !important;
  }

  /* main components and overlays 100% width */
  .wrapper, .global-nav .container, .autocomplete-container, .header-module
  .search-header, .tweet-row, div.tweet-media > *, .inline-media-image img,
  .original-tweet div.tweet-media iframe, .twttr-goto-user-input,
  .search-title, .search-assist-related-queries, .cards-base img,
  .permalink-tweet div.tweet-media img, div.tweet-media .media img,
  #tweet_dialog, .twttr-dialog-container, .profile-card.profile-header,
  .profile-header-inner-overlay, .swift-media-gallery {
    width: 100% !important;
    height: auto !important;
    padding: 0 !important;
  }

  /* youtube videos - fix width */
  div[data-card-type="player"] .media {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }
  div[data-card-type="player"] iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* cards / multi-images */
  .cards-media-container {
    overflow: auto;
  }

  /* fix gallery images */
  .Gallery:before {
    height: 20% !important;
  }
  .Gallery-content {
    height: auto !important;
    max-width: 100% !important;
    min-width: 0 !important;
    width: 100% !important;
  }
  .Gallery-media img.media-image {
    height: auto !important;
    max-width: 100% !important;
    width: 100% !important;
  }

  /* fix header background (old profile style) */
  .profile-card.profile-header .profile-header-inner {
    background-size: cover;
    background-position: center;
  }
  /* fix header overlay */
  .profile-header-inner-overlay {
    bottom: 0 !important;
    top: 95px !important;
    width: 100% !important;
    height: 200px !important;
  }

  /* fix profile image overlay settings dropdown */
  .profile-card.profile-header .profile-picture {
    z-index: 4 !important;
  }

  /* fix header background */
  .ProfileCanopy-header {
    background-position-y: 0 !important;
    background-size: cover !important;
    background-position: center !important;
  }

  /* fix profile avatar */
  .ProfileCanopy-avatar {
    position: relative !important;
    bottom: inherit;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0 !important;
  }
  .ProfileAvatar {
    margin: 0 auto;
  }
  .ProfileSidebar {
    margin: 0 !important;
  }

  .AppContainer .u-size1of4, .AppContainer .u-size2of8, .AppContainer
  .u-size3of12, .AppContainer .u-size2of3, .AppContainer .u-size4of6,
  .AppContainer .u-size8of12, .AppContainer .u-size3of4, .AppContainer
  .u-size6of8, .AppContainer .u-size9of12, .AppContainer .u-size1of2,
  .AppContainer .u-size2of4, .AppContainer .u-size3of6, .AppContainer
  .u-size4of8, .AppContainer .u-size5of10, .AppContainer .u-size6of12,
  .AppContainer .u-size1of3, .AppContainer .u-size2of6, .AppContainer
  .u-size4of12
  {
    width: 100% !important;
    float: none !important;
  }

  .Grid--withGutter {
    margin: 0 !important;
  }

  .Grid--withGutter>.Grid-cell {
    padding: 0 !important;
  }

  .GridTimeline .u-mb10 {
    margin-bottom: 0 !important;
  }

  /* hide who to follow and trends */
  .ProfileWTFAndTrends {
    display: none;
  }

  /* hide photo rail */
  .ProfilePhotoRail {
    display: none !important;
  }

  /* hide unimportant info */
  .ProfileCanopy-card {
    display: none;
  }

  .ProfileTweetbox .condensed .tweet-box {
    padding-right: 0 !important;
  }

  /* fix profile actions */
  .ProfileNav-item--userActions {
    position: static !important;
    float: right;
    width: 60%;
    border-bottom: 1px solid #E1E8ED;
    padding-left: 15px !important;
    height: 61px !important;
  }

  .ProfileNav-item--more {
    float: right;
    width: 40%;
    background-color: #fff;
    border-bottom: 1px solid #E1E8ED;
    height: auto;
  }
  .ProfileNav-item--more .ProfileNav-label {
    display: none;
  }

  .ProfileHeaderCard {
    margin-top: 75px !important;
  }

  .ProfileCard-bio {
    height: auto !important;
  }

  /* media source icons need to be brought back to 16px */
  .source img {
    width: 16px !important;
  }

  /* media container sets min-height for some reason. remove it. */
  .js-tweet-media-container {
    min-height: 0 !important;
  }

  /* rounded corners are so 90's */
  .conent-main, .content-header .header-inner, .stream-items > *, .module,
  .module .flex-module, .stream-end-inner, .stream-loading, .permalink-inner,
  .modal-large .modal-content, .twttr-dialog-footer, #tweet_dialog,
  .twttr-dialog-container, .modal-content, .permalink, .modal-header, .message,
  .selected-stream-item, .with-media-forward .cards-base .media-forward,
  .content-header, .content-no-header, .GalleryTweet, .Gallery-media,
  .ProfileTweet, .ProfileTweetbox, .ProfileCard, .ProfileCard-bg {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
  }

  /* get rid of this button. just hit l instead */
  .close-all-tweets { display: none !important; }

  /* form that wraps search input needs default width */
  .global-nav .form-search {
    width: auto !important;
  }

  /* move the dropdown-menu under the search. */
  .form-search .dropdown-menu {
    left: -215px !important;
  }
  /* move the caret for the search dropdown to center it */
  .form-search .dropdown-caret {
    left: 135px !important;
  }

  /* profile actions don't fit, put 'em below the profile image */
  .profile-card-actions { float: left !important; }

  /* textareas all have fixed widths. let's "fix" that. */
  #tweet_dialog textarea, .twitter-anywhere-tweet-box-editor {
    width: 95% !important;
  }

  /* fix profile image overlay */
  .swift-media-gallery {
    min-width: 100% !important;
    position: absolute !important;
    top: 40px !important;
    left: 0 !important;
  }

  /* fix large modal windows */
  .modal-large {
    width: 100% !important;
  }

  /* fix geo status */
  .tweet-box-extras {
    white-space: nowrap;
  }
  .geo-picker .geo-status {
    width: 100% !important;
  }

  /* fix thumbnail container */
  .tweet-form .thumbnail-container {
    width: 99% !important;
  }

  /* tame the inline tweetbox */
  .inline-reply-tweetbox.swift .tweet-box,
  .inline-reply-tweetbox .thumbnail-container {
    width: 100% !important;
    box-sizing: border-box !important;
    height: auto !important;
  }

  /* fix message/alert width */
  .message {
    width: 100% !important;
    box-sizing: border-box !important;
  }

  /* squeeze in the nav, removing the text */
  .topbar > .nav > li > a {
    padding-left: 10px !important;
    width: 20px !important;
    white-space: nowrap !important;
    overflow:hidden !important;
  }
}

@media screen and (max-width: 575px) {
  /* profile modal fixes */
  .profile-card .fullname {
    font-size: 1.5em !important;
  }
  .profile-card-inner {
    width: 70% !important;
  }
  .profile-card-actions {
    margin-top: 1em !important;
    width: 100% !important;
  }

  /* fix permalink styles */
  .permalink-tweet, .permalink .inline-reply-tweetbox {
    padding: 1.5em !important;
  }
  .permalink-tweet .tweet-actions {
    float: none !important;
  }
  .permalink-tweet .tweet-actions a b {
    display: inline !important;
  }
  .permalink-tweet .permalink-header .avatar {
    top: 1.5em !important;
    left: 1.5em !important;
  }
  .permalink-replies .tweet .avatar {
    left: 1.5em !important;
  }
  .permalink-replies .tweet {
    padding-left: 6em !important;
    padding-right: 1.5em !important;
  }
}

@media screen and (max-width: 520px) {
  /* newer modal windows have width of 520px. */
  .modal {
    width: 100% !important;
  }
  .tweet-form .tweet-box {
    width: 95% !important;
    height: auto !important;
  }
}

@media screen and (max-width: 450px) {

  /* avatar row doesn't wrap nicely, so just hide it */
  .avatar-row { display: none !important; }

  /* actions (when wrapped) have a gray artifact bc of background. hide it. */
  .tweet .actions {
    background: transparent !important;
  }

  /* keep actions' text and icons together */
  .tweet .actions li a {
    white-space: nowrap;
  }
  /* hide tweet action text - use icons */
  .tweet-actions a b {
    display: none !important;
  }
  .tweet-actions {
    float: right !important;
  }
  /* if there's expanded content clear floated tweet actions */
  .expanded-content {
    clear: right;
  }
}

@media screen and (max-width: 500px) {
  /* hide the bird */
  .bird-topbar-etched, .pushstate-spinner {
    display: none !important;
  }
}

@media screen and (max-width: 440px) {
  /* help make profile content fit */
  .profile-card.profile-header .profile-picture {
    margin-top: 10px !important;
  }
  .profile-header .profile-card-inner {
    width: 95% !important;
  }

  /* fix padding on direct message icon */
  .dm-nav {
    padding: 0 5px;
  }

  /* only show search and left nav */
  .topbar .pull-right .nav, .topbar-divider, .topbar-tweet-btn {
    display: none !important;
  }

  /* enlarge search */
  .global-nav .search-input, .global-nav .search-input:focus, .global-nav
  .search-input.focus, .global-nav .highlight .search-input,
  .global-nav .dwrli .search-input {
    width: 150px !important;
  }
}

@media screen and (max-width: 408px) {

  /* reduce the font size for this really narrow width */
  body { font-size: 0.8em !important; }

  .global-nav .search-input, .global-nav .search-input:focus, .global-nav
  .search-input.focus, .global-nav .highlight .search-input,
  .global-nav .dwrli .search-input {
    width: 110px !important;
  }

  /* move search dropdown back to the right and center */
  .form-search .dropdown-menu {
    left: -295px !important;
    width: 285px !important;
  }

  /* hide caret because it's hard to align properly */
  .form-search .dropdown-caret {
    display: none;
  }

  /* give more vertical space for dialogs */
  .twttr-dialog-container {
    margin: 25px auto !important;
  }

  /* make tweet button on tweet dialog fit */
  .tweet-button-sub-container {
    float: right;
  }

  /* make keyboard shortcuts overlay more readable */
  .keyboard-shortcuts .modal-table {
    margin-top: 10px !important;
    margin-left: 0 !important;
    float: none !important;
  }

  /* make dialog/modals fit */
  .twttr-dialog-container, #retweet-dialog, #tweet_dialog,
  #profile_popup .modal {
    width: 100% !important;
  }

  /* make dialogs not clip text when narrow */
  .dm-dialog .twttr-dialog-inside {
    height: auto !important;
  }

  /* profile popup has a absolute left. remove it. */
  #profile_popup .modal {
    left: 0 !important;
  }

  /* form that wraps search input needs default width */
  .global-nav .form-search {
    width: auto !important;
  }

  /* profile actions don't fit, put 'em below the profile image */
  .profile-card-actions { float: left !important; }

  /* textareas all have fixed widths. let's "fix" that. */
  #tweet_dialog textarea, .twitter-anywhere-tweet-box-editor {
    width: 95% !important;
  }

  /* direct message input is fixed width. fix it. */
  .dm-to-input {
    width: 85% !important;
  }
}

@media screen and (max-width: 370px) {
  /* shrink search */
  .global-nav .search-input, .global-nav .search-input:focus, .global-nav
  .search-input.focus, .global-nav .highlight .search-input, .global-nav .dwrli
  .search-input {
    width: 84px !important;
  }
}

@media screen and (max-width: 335px) {
  /* shrink search */
  .global-nav .search-input, .global-nav .search-input:focus, .global-nav
  .search-input.focus, .global-nav .highlight .search-input, .global-nav .dwrli
  .search-input {
    width: 44px !important;
  }
}

@media screen and (max-width: 308px) {

  /* reduce the font size for this really narrow width */
  body { font-size: 0.75em !important; }

  /* hide actions in tweet footer ... */
  .tweet .stream-item-footer { display: none; }

  /* hide dialog close button. use <esc> instead */
  .twttr-dialog .twttr-dialog-close {
    display: none !important;
  }

  /* ... but show them when expanded */
  .opened-tweet .stream-item-footer { display: block; }

  /* don't show avatar in stream (but show it on profiles) */
  .stream .avatar, .tweet .avatar, .dropdown-menu .avatar {
    display: none !important;
  }

  /* remove margin since we don't show avatars */
  .content { margin-left: 0 !important; }

  /* shrink margin on replies too, because avatars are removed there too */
  .inline-reply-tweetbox, .replies .tweet, .permalink-replies .tweet {
    padding: 9px !important;
  }
}
